.about-us {
  padding: 37px 0;
  padding-bottom: 35px;

  position: relative;

  @media (min-width: 768px) {
    padding: 70px 0 85px;
  }

  @media (min-width: 1150px) {
    padding: 80px 0 86px;
  }
}

.about-us::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 6px;
  background: url("../img/bg-zigzag-line.svg");
  background-size: 340px;
  top: 0;
  left: 50%;
  margin-left: -160px;
  transform: rotate(180deg);
  background-repeat: repeat-x;

  @media (min-width: 768px) {
    width: 768px;
    margin-left: -384px;
    height: 15px;
    background-size: 800px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
    margin-left: -525px;
    height: 23px;
    background-size: 1100px;
  }
}

.about-us__wrapper {
  @include centering();

  @media (min-width: 1150px) {
    padding-left: 170px;
  }
}

.about-us__item::before {
  content: "";
  display: block;
  width: 55px;
  height: 37px;
  margin-bottom: 20px;
}

.about-us__item--flower::before {
  background: url("../img/icon-feature-flower.svg") left bottom no-repeat;
  margin-left: 10px;
}

.about-us__item--money::before {
  background: url("../img/icon-feature-money.svg") left bottom no-repeat;

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.about-us__item--heart::before {
  background: url("../img/icon-feature-heart.svg") left bottom no-repeat;
  margin-left: 7px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.about-us__item--rocket {
  @media (min-width: 768px) {
    width: 295px;
  }
}

.about-us__item--ball::before {
  background: url("../img/icon-feature-ball.svg") left bottom no-repeat;
  margin-left: 5px;
}

.about-us__item--rocket::before {
  background: url("../img/icon-feature-rocket.svg") left bottom no-repeat;
  margin-left: -5px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.about-us__item--gift::before {
  background: url("../img/icon-feature-gift.svg") left bottom no-repeat;

  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.about-us__items {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.about-us__title {
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 43px;
    margin-bottom: 48px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    margin-bottom: 42px;
  }
}

.about-us__items--first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    height: 413px;
  }
}

.about-us__item {
  width: 200px;
  margin: 0;
  font-weight: bold;
  line-height: 1.18;
  padding-right: 0;
  margin-bottom: 26px;

  @media (min-width: 768px) {
    margin-right: 60px;
    width: 235px;
    margin-bottom: 0;
  }

  @media (min-width: 1150px) {
    margin-right: -110px;
  }
}

.about-us__item--ball,
.about-us__item--rocket,
.about-us__item--gift {
  width: 250px;

  @media (min-width: 768px) {
    width: 295px;
    margin: 0;
  }
}

.about-us__item--gift {
  margin-bottom: 0;
}

.about-us__item--flower {
  width: 195px;

  @media (min-width: 768px) {
    padding-right: 15px;
    width: 230px;
  }
}
