.about-us {
  padding: 35px 30px;
  outline: 2px solid red;
}

.about-us__item {
  font-weight: bold;
  line-height: 1.18;
}

.about-us__title {
  font-size: 25px;
}

.about-us__wrapper {
  @media (min-width: 772px) {
    display: flex;
  }
}
