.category-products {
  outline: 2px solid red;
}

.category-products__link {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  padding: 28px;
  color: #ffffff;

  &--interior {
    background: #63d1bb url("../img/icon-interior.svg") 95% 50% no-repeat;
  }

  &--toy {
    background: #56c3b2 url("../img/icon-toy.svg") 95% 50% no-repeat;
  }
}

.category-products__list {
  margin: 0;
}
