.category-products {
  outline: 2px solid red;
  width: calc(100% + 60px);
  margin: 0 -30px;

  @media (min-width: 772px) {
    width: 100%;
    margin: 0;
  }
}

.category-products__link {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  padding: 28px;
  color: #ffffff;

  &--interior {
    background: #63d1bb url("../img/icon-interior.svg") 95% 50% no-repeat;
  }

  &--toy {
    background: #56c3b2 url("../img/icon-toy.svg") 95% 50% no-repeat;
  }
}

.category-products__list {
  margin: 0;
  list-style-type: none;
  padding: 0;

  @media (min-width: 772px) {
    display: flex;
  }
}

.category-products__item {
  @media (min-width: 772px) {
    width: 50%;
  }
}
