.main-nav {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__items {
  margin: 0;
  list-style-type: none;
  padding: 0;

  @media (min-width: 768px) {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__items--first {
  @media (min-width: 768px) {
    order: 4;
  }

  @media (min-width: 1150px) {
    order: 1;
    padding: 0;
  }
}

.main-nav__items--second {
  display: none;

  @media (min-width: 1150px) {
    display: flex;
    flex-wrap: wrap;
    order: 5;
    font-size: 15px;
  }
}

.main-nav__link {
  display: block;
  font-weight: bold;
  color: #000000;
  padding: 30px 0 30px 45px;

  @media (min-width: 768px) {
    padding: 0;
  }

  @media (max-width: 767px) {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
  }

  &:focus,
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--search {
  position: relative;

  @media (min-width: 768px) {
    width: 82px;
    height: 88px;
    order: 2;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-left: auto;
    background-position: 50%;
  }

  @media (min-width: 1150px) {
    order: 3;
  }
}

.main-nav__search-logo {
  position: absolute;
  left: 0;
  fill: #d7d6d6;

  @media (min-width: 768px) {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-nav__link:focus .main-cart-logo,
.main-nav__link:hover .main-cart-logo,
.main-nav__link:focus .main-nav__search-logo,
.main-nav__link:hover .main-nav__search-logo {
  fill: #63d1bb;
}

.main-nav__link--cart {
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 265px;
    height: 88px;
    order: 3;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background-position: 31px 50%;
  }

  @media (min-width: 1150px) {
    order: 4;
  }
}

.main-cart-logo {
  position: absolute;
  left: 0;
  fill: #d7d6d6;

  @media (min-width: 768px) {
    left: 12%;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: url("../img/icon-menu-open.svg");

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  height: 20px;
  background: url("../img/icon-menu-close.svg");
}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__logo {
  display: block;
  width: 86px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__wrapper {
  position: relative;
  padding: 22px 0 19px;

  @media (min-width: 768px) {
    flex-grow: 1;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 0;
  }

  @media (min-width: 1150px) {
    order: 2;
    padding-left: 75px;
    padding-top: 8px;
  }
}

.main-nav__link-hide {
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__link--catalog {
  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.main-nav__link--knitting {
  @media (min-width: 768px) {
    padding-left: 35px;
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
  }
}

.main-nav__item {
  @media (min-width: 1150px) {
    display: flex;
    align-items: center;
  }
}

.main-nav__item--catalog {
  @media (min-width: 1150px) {
    width: 185px;
    height: 88px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
}

.main-nav__sell-out {
  @media (min-width: 1150px) {
    padding-left: 60px;
  }
}

.main-nav__wrapper-none {
  display: block;
}

.main-nav--closed .main-nav__items,
.main-nav--closed .main-nav__link {
  @media (max-width: 767px) {
    display: none;
  }
}
