.modal-cart {
  padding: 35px 30px 45px;
  outline: 2px solid red;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: 772px) {
    width: 566px;
  }
}

.modal-cart__title {
  font-size: 25px;
  line-height: 1.2;
}

.modal-cart__form-caption {
  font-size: 15px;
  color: #444444;
}

.modal-cart__label {
  color: #444444;
  font-weight: bold;
}
