.modal-cart {
  display: none;
  padding: 35px 30px 45px;

  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -160px;

  @media (min-width: 768px) {
    width: 566px;
    margin: -283px;
  }
}

.modal-cart__title {
  font-size: 25px;
  line-height: 1.2;
}

.modal-cart__form-caption {
  font-size: 15px;
  color: #444444;
}

.modal-cart__label {
  color: #444444;
  font-weight: bold;
}
