.page-header {

  @media (min-width: 768px) {
    @include centering();

    margin-bottom: -38px;
    position: relative;
  }
}

.page-header__free-shipping {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    order: 6;
    padding-top: 20px;
    font-size: 15px;
    color: #444444;
    font-weight: normal;
  }
}
