.page-content__start-home {
  height: 283px;
  padding: 72px 30px;
  box-sizing: border-box;
  background: #f1f1f1 url("../img/hero-mobile@1x.jpg") 50% 20% no-repeat;


  @media (min-width: 768px) {
    padding: 160px 52px 0;
    background: #f1f1f1 url("../img/hero-tablet@1x.jpg") 50% 20% no-repeat;
    height: 746px;
    z-index: -1;
  }
}

.page-content__start-home--not-index {
  background: none;
  background-color: #f1f1f1;
  height: 190px;

  @media (min-width: 768px) {
    height: 226px;
    padding: 100px 0 0;
  }
}

.page-content__title {
  font-size: 27px;
  line-height: 1.11;

  text-align: center;
  @include centering();

  @media (min-width: 768px) {
    font-size: 43px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
  }
}
