.popular-product__property {
  font-weight: 400;
}

.popular-product__title {
  font-size: 17px;
  color: #63d1bb;
}

.popular-product__title-name {
  font-size: 25px;
}

.popular-product__description,
.popular-product__details {
  font-size: 15px;
  color: #444444;
  line-height: 1.6;
}

.popular-product__price {
  color: #444444;
}
