.process-making {
  @include centering();

  @media (min-width: 768px) {
    padding: 0 0 63px;
    position: relative;
  }

  @media (min-width: 1150px) {
    display: flex;
    flex-direction: row-reverse;
    height: 518px;
    margin-bottom: 45px;
  }
}

.process-making__text {
  color: #444444;
  line-height: 1.85;
  font-size: 13px;
  padding: 26px 40px 33px 34px;

  @media (min-width: 768px) {
    font-size: 15px;
    padding: 95px 33px 45px 42px;
  }

  @media (min-width: 1150px) {
    padding: 0;
    line-height: 2;
  }
}

.process-making:focus .process-making__text,
.process-making:hover .process-making__text {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 1150px) {
    box-shadow: none;
  }
}

.process-making:active .process-making__text {
  box-shadow: 0 3 5px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 1150px) {
    box-shadow: none;
  }
}

.process-making:focus .process-making__wrapper-border,
.process-making:hover .process-making__wrapper-border {
  @media (min-width: 1150px) {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.process-making:active .process-making__wrapper-border {
  @media (min-width: 1150px) {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.process-making__title {
  margin: 0;
  font-size: 17px;
  line-height: 1.41;
  height: 95px;
  padding: 22px 43px 0 90px;
  background: url("../img/icon-video.svg") 33px 27px no-repeat;

  @media (min-width: 768px) {
    font-size: 20px;
    position: absolute;
    top: 465px;
    padding-left: 105px;
    background-position: 41px 22px;
  }

  @media (min-width: 1150px) {
    position: inherit;
    padding-left: 0;
    background-position: 0 0;
    padding-top: 52px;
    line-height: 1.2;
    margin-bottom: 41px;
  }
}

.process-making__wrapper-border {
  border: 1px solid #ececec;

  @media (min-width: 1150px) {
    width: 370px;
    padding: 44px 57px 0 80px;
  }
}

.process-making__video {
  position: relative;
  height: 150px;

  @media (min-width: 768px) {
    height: 455px;
  }

  @media (min-width: 1150px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }
}

.process-making__play-icon {
  color: #63d1bb;
}

.process-making__control {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -56.5px;
  margin-top: -41px;

  &:focus,
  &:hover {
    transform: scale(1.3, 1.3);
    transform-origin: 50% 50%;
  }

  &:active {
    transform: scale(0.7, 0.7);
  }

  &:active .process-making__play-icon {
    color: #d1f2eb;
  }
}

.process-making__wrapper-video {
  margin: 0;
}

.process-making__button {
  width: 193px;
  margin-top: 25px;

  @media (min-width: 768px) {
    width: 584px;
  }

  @media (min-width: 1150px) {
    margin: 45px 0 0 0;
    width: 100%;
  }

  &:focus,
  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
