.process-making {
  @include centering();

  @media (min-width: 768px) {
    padding: 0 0 63px;
    position: relative;
  }

  @media (min-width: 1150px) {
    display: flex;
    flex-direction: row-reverse;
    height: 560px;
  }
}

.process-making__text {
  color: #444444;
  line-height: 1.85;
  font-size: 13px;
  margin: 23px 40px 25px 34px;

  @media (min-width: 768px) {
    font-size: 15px;
    margin-left: 42px;
    margin-right: 32px;
    margin-top: 95px;
    margin-bottom: 40px;
  }

  @media (min-width: 1150px) {
    margin: 0;
    line-height: 2;
  }
}

.process-making__title {
  margin: 0;
  font-size: 17px;
  line-height: 1.41;
  height: 95px;
  padding: 22px 43px 0 90px;
  background: url(../../img/icon-video.svg) 33px 27px no-repeat;

  @media (min-width: 768px) {
    font-size: 20px;
    position: absolute;
    top: 465px;
    padding-left: 105px;
    background-position: 41px 22px;
  }

  @media (min-width: 1150px) {
    position: inherit;
    padding-left: 0;
    background-position: 0 0;
    padding-top: 52px;
    line-height: 1.2;
    margin-bottom: 41px;
  }
}

.process-making__wrapper-border {
  border: 1px solid #ececec;
  padding-bottom: 43px;

  @media (min-width: 1150px) {
    width: 367px;
    padding: 44px 57px 0 80px;
  }
}

.process-making__video {
  position: relative;
  outline: 1px solid red;

  @media (min-width: 768px) {
    height: 455px;
  }

  @media (min-width: 1150px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }
}

.process-making__control {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.process-making__wrapper-video {
  margin: 0;
}

.process-making__button {
  width: 193px;
  margin-left: 34px;

  @media (min-width: 768px) {
    width: 584px;
    margin-left: 42px;
  }

  @media (min-width: 1150px) {
    margin: 45px 0 0 0;
    width: 100%;
  }
}
