.product {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  width: 261px;

  @media (min-width: 768px) {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;
  }

  @media (min-width: 1150px) {
    display: block;
    width: 316px;
    border: none;
  }
}

.product__name {
  font-size: 17px;
  color: #000000;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1150px) {
    font-size: 20px;
    padding-right: 20px;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__name--basket-for-toys {
  line-height: 1.41;

  @media (min-width: 768px) {
    line-height: 1.3;
  }
}

.product__details {
  font-size: 13px;
  color: #444444;
  margin-bottom: 0;
  margin-top: 17px;

  @media (min-width: 768px) {
    font-size: 15px;
    margin-top: 15px;
  }

  @media (min-width: 1150px) {
    margin-top: 10px;
  }
}

.product__details--basket-for-toys {
  margin-top: 14px;
}

.product__price {
  font-size: 15px;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.product__wrapper-name {
  padding: 27px 0;

  @media (min-width: 768px) {
    padding: 25px 0;
  }

  @media (min-width: 1150px) {
    padding-bottom: 0;
  }
}

.product__wrapper-name--basket-for-toys {
  @media (min-width: 768px) {
    padding-top: 22px;
  }
}

.product__wrapper-price {
  padding: 25px 0 18px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;

  @media (min-width: 768px) {
    padding-bottom: 23px;
  }
}

.product__link-photo {
  display: block;
  height: 195px;

  @media (min-width: 768px) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: 1150px) {
    width: 316px;
    height: 462px;
  }
}

.product__add-to-cart {
  position: relative;
  cursor: pointer;
  border: none;
  width: 20px;
  height: 19px;
}

.product__cart-logo {
  position: absolute;
  top: -3px;
  left: 0;
  fill: #ececec;

  &:focus,
  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__wrapper-flex {
  padding: 0 28px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 232px;
  }

  @media (min-width: 1150px) {
    height: 197px;
    border: 1px solid #ececec;
    border-top: none;
    width: auto;
  }
}

.product:nth-of-type(2) {
  @media (min-width: 1150px) {
    margin: 0 auto;
  }
}
