.social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 260px;
  padding-bottom: 25px;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 75px;
  }
}

.social__link--facebook {
  margin: 0 40px;
}

.social__item:nth-child(2) {
  margin-top: -8px;
}

.social__svg {
  fill: #231F20;

  &:focus,
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
